div{
    display:none;
}
.grid-main {

    max-width: 100%;
    min-height: 100%;
    background-color: #EEEEEE;
}

.titleHeader{
    text-align: center;
    background-color: #1A237E;
    color:rgba(255,255,255,.87);
    padding: 5%;
    font-size: 300%;
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.descriptionHeader{
    color:rgba(255,255,255,.97);
    display:block;
    padding: 1%;
    font-size: 50%;
    text-align: left;

}
descriptionHeader p{
    font-size: 200%;
}

.top-nav{

    margin-top: 3%;
}
aside {

    background-color: #1A237E;
}
button.mdesign{

    display: block;
    margin-bottom: 3%;
    margin-left:  7%;
    padding: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    width:85%;
    background-color: #2ecc71;
    color: #ecf0f1;
    font-size:200%;

    transition: background-color .3s;
}
button.mdesign:hover, button.mdesign:focus {
    background-color: #27ae60;
}

.aside-header {
    color:rgba(255,255,255,.87);
    padding: 3%;
    font-size: 200%;
}
.aside-content{

    color:rgba(255,255,255,.87);
    padding: 1%;
    max-height:30%;
    width: 97.5%;
}
.aside-buttons{

}
.switcher-container {
}
.switcher-div {

}

article{

    display: grid;
    grid-template-columns: auto;
    margin-bottom: 3%;
}
article div{display: block;}
.article-container{
    background-color: #FFFFFF;

}
.article-header{
    display: grid;
    max-height: 50px;
    grid-template-columns: auto auto;
    color:rgba(0,0,0,.87);

}
.article-site-image{

    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;

}
.article-desc{
    padding:3%;

}
.article-date{
    padding:3%;
    font-size: 80%;


}
.article-main{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}
img.article-img{
    padding:1%;
    width: 98%;
}
.article-title{
    padding: 3%;
    color:rgba(0,0,0,.87)

}
.aside-buttons{display:block;}
.aside-header{display: block;}
.aside-content{display:block;}

button{

}
@media only screen and (max-width: 1280px) {
    .grid-main {
        display: grid;
        grid-template-columns: 5fr;
        grid-row-gap: 20px;
    }

    .top-nav{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    container {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 3%;
        grid-column-gap: 3%;

    }
    .aside-content{
        display: block;
        display:inline-grid;
        grid-template-columns: auto auto;
    }
    .bottom-aside{
        display:none;
    }
    .switcher-div {
    font-size: 300%;
    }
    footer{
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 3%;
        grid-column-gap: 3%;
    }
    .titleHeader{
        display:grid;
        grid-template-columns: auto;
    }

}

@media only screen and (min-width: 1281px) {

    .top-aside{
        display: none;
    }
    .grid-main {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-row-gap: 20px;
        grid-column-gap: 2%;
    }
    header{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .top-nav{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    container {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-row-gap: 3%;
        grid-column-gap: 1%;

    }
    .aside-content{
        display:inline-grid;
        grid-template-columns: auto auto auto;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .titleHeader{
        display:grid;
        grid-template-columns: 2fr 5fr;
    }

}
